@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $purple;
  font-family: 'Noto Sans JP', sans-serif;
}

h1{
  text-align: center;
}